{% extends 'authenticate/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Log In</h5>
                    <form class="form-signin" method="post">
                        {% csrf_token %}

                        <div class="form-label-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" required
                                   autofocus>
                        </div>

                        <div class="form-label-group mt-3">
                            <input type="password" class="form-control" placeholder="Password" name="password" required>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase mt-3" type="submit">Log in
                        </button>
                        <hr class="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}